 body{
            margin:0;
        }

 .header{
            background-color: skyblue;
            height: 40px;
        }

 .header .menu{
            float: left;
            color: coral;
            height: 40px;
            line-height: 40px;
        }
 .header .account{
            float: right;
            color: coral;
            height: 40px;
            line-height: 40px;
        }
 .header a{
            color:hotpink;
            font-size: 15px;
            margin-right: 30px;
            text-decoration: none;
        }
 .header a:hover{
            color:mediumspringgreen;
        }
 .container{
            width: 1100px;
            margin: 0 auto;
        }