body{
    margin:0;
}

.sub_header{
    height: 100px;
    background-color: pink;
}
/*.sub_container{*/
/*    width:1128px;*/
/*    margin: 0 auto;*/
/*}*/
.sub_header .logo{
    width:234px;
    height: 100px;
    float:left;
}
.sub_header .logo img{
    margin-top:15px;
    margin-left: 90px;
    height: 70px;
    width: 70px;

}
.sub_header .menu_list{
    float: left;
    height: 100px;
    line-height: 100px;
}
.sub_header .menu_list a{
    color:deepskyblue;
    font-size: 30px;
    display: inline-block;
    padding: 0 50px;
    text-decoration: none;
}
.sub_header .menu_list a:hover{
    color:mediumspringgreen;
}
.sub_header .search{
    float: right;
    height: 100px;
}